openapi: 3.0.0
info:
  title: Bloc API
  contact: {}
  version: "1.0"
servers:
- url: https://api.blochq.io/v1
tags:
- name: Accounts
- name: Bills Payments V1.1
- name: Disputes
- name: Cards
- name: Checkout
- name: Customers
- name: Miscellaneous
- name: Simulation
- name: Transactions
- name: Transfers
- name: Webhook
- name: Electricity
- name: Telecommunication
- name: Television
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: Getaccounts
      description: Get accounts
      operationId: Getaccounts
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 11:58:58 GMT"
                  example: "Tue, 14 Mar 2023 11:58:58 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "2330"
                  example: "2330"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
              example:
                success: true
                data:
                - id: 6410616d7f1b4b36103f872b
                  name: bug atti - plane
                  bvn: "22403240419"
                  kyc_tier: "0"
                  created_at: 2023-03-14T11:58:37.007Z
                  updated_at: 2023-03-14T11:58:37.007Z
                  deleted_at: 0001-01-01T00:00:00Z
                  status: Open
                  environment: test
                  organization_id: 640b045929eb9cf45bc720c9
                  balance: 0
                  currency: NGN
                  frequency: 0
                  frequency_count: 0
                  meta_data: {}
                  customer_id: 6410612c7f1b4b36103f872a
                  customer:
                    id: 6410612c7f1b4b36103f872a
                    full_name: atti bug
                    phone_number: "08033225577"
                    organization_id: 640b045929eb9cf45bc720c9
                    environment: test
                    email: bugatti@mailnator.com
                    country: ""
                    group: main
                    status: active
                    created_at: 2023-03-14T11:57:32.567Z
                    updated_at: 0001-01-01T00:00:00Z
                    SyncData:
                      Provider: ""
                    first_name: bug
                    last_name: atti
                    kyc_tier: "0"
                    bvn: "22403240419"
                    date_of_birth: 0001-01-01T00:00:00Z
                    customer_type: Personal
                    source: Banking
                    address: {}
                  account_number: "2013113347"
                  bank_name: Banc Corp
                  type: Virtual
                  collection_account: false
                  hide_account: false
                  SkipNumber: false
                  external_account: {}
                  alias: plane
                - id: 64105fdd7f1b4b36103f870f
                  name: mas erati - car
                  bvn: "22303240817"
                  kyc_tier: "0"
                  created_at: 2023-03-14T11:51:57.019Z
                  updated_at: 2023-03-14T11:51:57.019Z
                  deleted_at: 0001-01-01T00:00:00Z
                  status: Open
                  environment: test
                  organization_id: 640b045929eb9cf45bc720c9
                  balance: 0
                  currency: NGN
                  frequency: 0
                  frequency_count: 0
                  meta_data: {}
                  customer_id: 64105f5d7f1b4b36103f870e
                  customer:
                    id: 64105f5d7f1b4b36103f870e
                    full_name: erati mas
                    phone_number: "08044226688"
                    organization_id: 640b045929eb9cf45bc720c9
                    environment: test
                    email: maserati@mailnator.com
                    country: ""
                    group: main
                    status: active
                    created_at: 2023-03-14T11:49:49.839Z
                    updated_at: 0001-01-01T00:00:00Z
                    SyncData:
                      Provider: ""
                    first_name: mas
                    last_name: erati
                    kyc_tier: "0"
                    bvn: "22303240817"
                    date_of_birth: 0001-01-01T00:00:00Z
                    customer_type: Personal
                    source: Banking
                    address: {}
                  account_number: "2011713547"
                  bank_name: Banc Corp
                  type: Virtual
                  collection_account: false
                  hide_account: false
                  SkipNumber: false
                  external_account: {}
                  alias: car
                message: accounts found
                metadata:
                  has_next: false
                  has_previous: false
      deprecated: false
      security:
      - bearer: []
    post:
      tags:
      - Accounts
      summary: CreateFixedAccount
      description: Create Fixed Account
      operationId: CreateFixedAccount
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accounts_body'
            example:
              customer_id: 64105f5d7f1b4b36103f870e
              alias: car
              meta_data: {}
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 11:51:57 GMT"
                  example: "Tue, 14 Mar 2023 11:51:57 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "1177"
                  example: "1177"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
              example:
                success: true
                data:
                  id: 64105fdd7f1b4b36103f870f
                  name: mas erati - car
                  bvn: "22303240817"
                  kyc_tier: "0"
                  created_at: 2023-03-14T11:51:57.019276697Z
                  updated_at: 2023-03-14T11:51:57.019276779Z
                  deleted_at: 0001-01-01T00:00:00Z
                  status: Open
                  environment: test
                  organization_id: 640b045929eb9cf45bc720c9
                  balance: 0
                  currency: NGN
                  frequency: 0
                  frequency_count: 0
                  meta_data: {}
                  customer_id: 64105f5d7f1b4b36103f870e
                  customer:
                    id: 64105f5d7f1b4b36103f870e
                    full_name: erati mas
                    phone_number: "08044226688"
                    organization_id: 640b045929eb9cf45bc720c9
                    environment: test
                    email: maserati@mailnator.com
                    country: ""
                    group: main
                    status: active
                    created_at: 2023-03-14T11:49:49.839Z
                    updated_at: 0001-01-01T00:00:00Z
                    SyncData:
                      Provider: ""
                    first_name: mas
                    last_name: erati
                    kyc_tier: "0"
                    bvn: "22303240817"
                    date_of_birth: 0001-01-01T00:00:00Z
                    customer_type: Personal
                    source: Banking
                    address: {}
                  account_number: "2011713547"
                  bank_name: Banc Corp
                  type: Virtual
                  collection_account: false
                  hide_account: false
                  SkipNumber: false
                  external_account: {}
                  alias: car
                message: account created
      deprecated: false
      security:
      - bearer: []
  /accounts/collections:
    post:
      tags:
      - Accounts
      summary: CreateCollectionAccount
      description: Create Collection Account
      operationId: CreateCollectionAccount
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accounts_collections_body'
            example:
              alias: car
              meta_data: {}
        required: true
      responses:
        "201":
          description: Created
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 11:45:37 GMT"
                  example: "Tue, 14 Mar 2023 11:45:37 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "210"
                  example: "210"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
              example:
                success: true
                data:
                  id: 64105e617f1b4b36103f8708
                  name: Bloc Dashboard
                  created_at: 2023-03-14T11:45:37.925951879Z
                  account_number: "2048401671"
                  bank_name: Banc Corp
                message: account created
      deprecated: false
      security:
      - bearer: []
  /accounts/{accountID}:
    get:
      tags:
      - Accounts
      summary: GetAccountbyid
      description: Get Account by id
      operationId: GetAccountbyid
      parameters:
      - name: accountID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 11:53:58 GMT"
                  example: "Tue, 14 Mar 2023 11:53:58 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "1163"
                  example: "1163"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
              example:
                success: true
                data:
                  id: 64105fdd7f1b4b36103f870f
                  name: mas erati - car
                  bvn: "22303240817"
                  kyc_tier: "0"
                  created_at: 2023-03-14T11:51:57.019Z
                  updated_at: 2023-03-14T11:51:57.019Z
                  deleted_at: 0001-01-01T00:00:00Z
                  status: Open
                  environment: test
                  organization_id: 640b045929eb9cf45bc720c9
                  balance: 0
                  currency: NGN
                  frequency: 0
                  frequency_count: 0
                  meta_data: {}
                  customer_id: 64105f5d7f1b4b36103f870e
                  customer:
                    id: 64105f5d7f1b4b36103f870e
                    full_name: erati mas
                    phone_number: "08044226688"
                    organization_id: 640b045929eb9cf45bc720c9
                    environment: test
                    email: maserati@mailnator.com
                    country: ""
                    group: main
                    status: active
                    created_at: 2023-03-14T11:49:49.839Z
                    updated_at: 0001-01-01T00:00:00Z
                    SyncData:
                      Provider: ""
                    first_name: mas
                    last_name: erati
                    kyc_tier: "0"
                    bvn: "22303240817"
                    date_of_birth: 0001-01-01T00:00:00Z
                    customer_type: Personal
                    source: Banking
                    address: {}
                  account_number: "2011713547"
                  bank_name: Banc Corp
                  type: Virtual
                  collection_account: false
                  hide_account: false
                  SkipNumber: false
                  external_account: {}
                  alias: car
                message: account found
      deprecated: false
      security:
      - bearer: []
  /v1/accounts/number/{accountNumber}:
    get:
      tags:
      - Accounts
      summary: GetAccountbyaccountnumber
      description: Get Account by account number
      operationId: GetAccountbyaccountnumber
      parameters:
      - name: accountNumber
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:01:02 GMT"
                  example: "Tue, 14 Mar 2023 12:01:02 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "1163"
                  example: "1163"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
              example:
                success: true
                data:
                  id: 6410616d7f1b4b36103f872b
                  name: bug atti - plane
                  bvn: "22403240419"
                  kyc_tier: "0"
                  created_at: 2023-03-14T11:58:37.007Z
                  updated_at: 2023-03-14T11:58:37.007Z
                  deleted_at: 0001-01-01T00:00:00Z
                  status: Open
                  environment: test
                  organization_id: 640b045929eb9cf45bc720c9
                  balance: 0
                  currency: NGN
                  frequency: 0
                  frequency_count: 0
                  meta_data: {}
                  customer_id: 6410612c7f1b4b36103f872a
                  customer:
                    id: 6410612c7f1b4b36103f872a
                    full_name: atti bug
                    phone_number: "08033225577"
                    organization_id: 640b045929eb9cf45bc720c9
                    environment: test
                    email: bugatti@mailnator.com
                    country: ""
                    group: main
                    status: active
                    created_at: 2023-03-14T11:57:32.567Z
                    updated_at: 0001-01-01T00:00:00Z
                    SyncData:
                      Provider: ""
                    first_name: bug
                    last_name: atti
                    kyc_tier: "0"
                    bvn: "22403240419"
                    date_of_birth: 0001-01-01T00:00:00Z
                    customer_type: Personal
                    source: Banking
                    address: {}
                  account_number: "2013113347"
                  bank_name: Banc Corp
                  type: Virtual
                  collection_account: false
                  hide_account: false
                  SkipNumber: false
                  external_account: {}
                  alias: plane
                message: account found
      deprecated: false
      security:
      - bearer: []
  /accounts/customers/accounts/{customerID}:
    get:
      tags:
      - Accounts
      summary: Getcustomeraccounts
      description: Get customer accounts
      operationId: Getcustomeraccounts
      parameters:
      - name: customerID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:02:53 GMT"
                  example: "Tue, 14 Mar 2023 12:02:53 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "1166"
                  example: "1166"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
              example:
                success: true
                data:
                - id: 6410616d7f1b4b36103f872b
                  name: bug atti - plane
                  bvn: "22403240419"
                  kyc_tier: "0"
                  created_at: 2023-03-14T11:58:37.007Z
                  updated_at: 2023-03-14T11:58:37.007Z
                  deleted_at: 0001-01-01T00:00:00Z
                  status: Open
                  environment: test
                  organization_id: 640b045929eb9cf45bc720c9
                  balance: 0
                  currency: NGN
                  frequency: 0
                  frequency_count: 0
                  meta_data: {}
                  customer_id: 6410612c7f1b4b36103f872a
                  customer:
                    id: 6410612c7f1b4b36103f872a
                    full_name: atti bug
                    phone_number: "08033225577"
                    organization_id: 640b045929eb9cf45bc720c9
                    environment: test
                    email: bugatti@mailnator.com
                    country: ""
                    group: main
                    status: active
                    created_at: 2023-03-14T11:57:32.567Z
                    updated_at: 0001-01-01T00:00:00Z
                    SyncData:
                      Provider: ""
                    first_name: bug
                    last_name: atti
                    kyc_tier: "0"
                    bvn: "22403240419"
                    date_of_birth: 0001-01-01T00:00:00Z
                    customer_type: Personal
                    source: Banking
                    address: {}
                  account_number: "2013113347"
                  bank_name: Banc Corp
                  type: Virtual
                  collection_account: false
                  hide_account: false
                  SkipNumber: false
                  external_account: {}
                  alias: plane
                message: accounts found
      deprecated: false
      security:
      - bearer: []
  /accounts/organization/default:
    get:
      tags:
      - Accounts
      summary: GetOrganisationDefaultAccounts
      description: Get Organisation Default Accounts
      operationId: GetOrganisationDefaultAccounts
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:04:49 GMT"
                  example: "Tue, 14 Mar 2023 12:04:49 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "259"
                  example: "259"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
              example:
                success: true
                data:
                - id: 640b045929eb9cf45bc720d4
                  type: Settlement
                  number: ""
                  balance: 0
                  bank: Banc Corp
                - id: 640b045929eb9cf45bc720d2
                  type: Main
                  number: "2078914572"
                  balance: 0
                  bank: Banc Corp
                message: default accounts found
      deprecated: false
      security:
      - bearer: []
  /accounts/{accountID}/freeze:
    put:
      tags:
      - Accounts
      summary: FreezeAccount
      description: Freeze Account
      operationId: FreezeAccount
      parameters:
      - name: accountID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountID_freeze_body'
            example:
              reason: bad kyc details
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:09:06 GMT"
                  example: "Tue, 14 Mar 2023 12:09:06 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "44"
                  example: "44"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
              example:
                success: true
                message: account frozen
      deprecated: false
      security:
      - bearer: []
  /accounts/{accountID}/unfreeze:
    put:
      tags:
      - Accounts
      summary: UnfreezeAccount
      description: Unfreeze Account
      operationId: UnfreezeAccount
      parameters:
      - name: accountID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountID_unfreeze_body'
            example:
              reason: has upgraded kyc tier
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:10:43 GMT"
                  example: "Tue, 14 Mar 2023 12:10:43 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "46"
                  example: "46"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
              example:
                success: true
                message: account unfrozen
      deprecated: false
      security:
      - bearer: []
  /accounts/{accountID}/close:
    put:
      tags:
      - Accounts
      summary: CloseAccount
      description: Close Account
      operationId: CloseAccount
      parameters:
      - name: accountID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountID_close_body'
            example:
              reason: bad banking service
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:12:49 GMT"
                  example: "Tue, 14 Mar 2023 12:12:49 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "44"
                  example: "44"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
              example:
                success: true
                message: account closed
      deprecated: false
      security:
      - bearer: []
  /accounts/{accountID}/reopen:
    put:
      tags:
      - Accounts
      summary: ReOpenAccount
      description: ReOpen Account
      operationId: ReOpenAccount
      parameters:
      - name: accountID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accountID_reopen_body'
            example:
              reason: issue looked into and settled
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 12:13:49 GMT"
                  example: "Tue, 14 Mar 2023 12:13:49 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "46"
                  example: "46"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
              example:
                success: true
                message: account reopened
      deprecated: false
      security:
      - bearer: []
  /bills/supported:
    get:
      tags:
      - Bills Payments V1.1
      summary: Getsupportedbills
      description: Get supported bills
      operationId: Getsupportedbills
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 18 Apr 2023 10:38:18 GMT"
                  example: "Tue, 18 Apr 2023 10:38:18 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "96"
                  example: "96"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
              example:
                success: true
                data:
                - electricity
                - television
                - telco
                message: get supported products
      deprecated: false
      security:
      - bearer: []
  /bills/operators:
    get:
      tags:
      - Bills Payments V1.1
      summary: Getsupportedoperators
      description: Get supported operators
      operationId: Getsupportedoperators
      parameters:
      - name: bill
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: television
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 18 Apr 2023 10:40:17 GMT"
                  example: "Tue, 18 Apr 2023 10:40:17 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "1512"
                  example: "1512"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
              example:
                success: true
                data:
                - desc: Port Harcourt Electricity Distribution Company
                  id: op_ZYETpzSYgPHVZ8YJPjKcVh
                  name: PHEDC
                  sector: Electricity
                - desc: AES Jos Electricity Distribution Company
                  id: op_GAoU3ciaXyUDrcQ8FhNF7L
                  name: AES_JEDC
                  sector: Electricity
                - desc: Benin Electricity Distribution Company
                  id: op_U8dSC7GQtBABNcBSVphLSC
                  name: BEDC
                  sector: Electricity
                - desc: Kano Electricity Distribution Company
                  id: op_xdS33jqYHKbCBgEwW8qbT7
                  name: KEDCO
                  sector: Electricity
                - desc: Abuja Electricity Distribution Company
                  id: op_4iG4k2F6gAiotGfLfCrA67
                  name: AEDC
                  sector: Electricity
                - desc: Eko Electricity Distribution Company
                  id: op_MzqRpUo2NchxZt4G56RVPf
                  name: EKEDC
                  sector: Electricity
                - desc: Enugu Electricity Distribution Company
                  id: op_82CL7zK9UTzNaBwDBr69EF
                  name: EEDC
                  sector: Electricity
                - desc: Ikeja Electricity Distribution Company
                  id: op_iZMtH6S6PxG3A7T9geNXqV
                  name: IKEDC
                  sector: Electricity
                - desc: Ibadan Electricity Distribution Company
                  id: op_Aa6nzucgFck5nfqtcHHb4t
                  name: IBEDC
                  sector: Electricity
                - desc: Kaduna Electricity Distribution Company
                  id: op_qft8zY6VbGpqQ5dkskeAJY
                  name: KAEDCO
                  sector: Electricity
                - desc: Aba Power Limited Electric
                  id: op_QkkGbGQGyQhKn48N9We3Mg
                  name: APLE
                  sector: Electricity
                - desc: CEL Jos Electricity Distribution Company
                  id: op_NuiVktEQPHNaZeAwn9GJn5
                  name: CEL_JEDC
                  sector: Electricity
                message: supported operators
      deprecated: false
      security:
      - bearer: []
  /bills/operators/{operatorID}/products:
    get:
      tags:
      - Bills Payments V1.1
      summary: Getoperatorproducts
      description: Get operator products
      operationId: Getoperatorproducts
      parameters:
      - name: bill
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: telco
      - name: operatorID
        in: path
        description: Operator Id of the selected operator
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: op_tHvaAHp85mTsRtEU2yqxLM
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 18 Apr 2023 11:02:09 GMT"
                  example: "Tue, 18 Apr 2023 11:02:09 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "248"
                  example: "248"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
              example:
                success: true
                data:
                - category: pctg_3z4n4aGYjWJWzn4QSDQEva
                  fee_type: FLEXIBLE
                  id: prd_3nkiv4ykfPL7XrTwstKfhc
                  name: IBEDC Bill Payment
                  operator: op_Aa6nzucgFck5nfqtcHHb4t
                message: supported operators
      deprecated: false
      security:
      - bearer: []
  /bills/customer/validate/{operatorID}:
    get:
      tags:
      - Bills Payments V1.1
      summary: Customerdevicevalidation
      description: Customer device validation
      operationId: Customerdevicevalidation
      parameters:
      - name: meter_type
        in: query
        description: prepaid or postpaid
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: prepaid
      - name: bill
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: electricity
      - name: device_number
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: "04283290809"
      - name: operatorID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: op_Aa6nzucgFck5nfqtcHHb4t
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 18 Apr 2023 11:02:27 GMT"
                  example: "Tue, 18 Apr 2023 11:02:27 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "155"
                  example: "155"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
              example:
                success: true
                data:
                  address: ""
                  email: ""
                  name: ""
                  phone: ""
                  payment_reference: 0b5e82cde8d74fb19a78261104b369d5
                message: customer details
      deprecated: false
      security:
      - bearer: []
  /bills/payment:
    post:
      tags:
      - Bills Payments V1.1
      summary: MakePayment
      description: Make Payment
      operationId: MakePayment
      parameters:
      - name: bill
        in: query
        description: ""
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: electricity
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bills_payment_body'
            example:
              amount: 30000
              product_id: prd_3nkiv4ykfPL7XrTwstKfhc
              operator_id: op_Aa6nzucgFck5nfqtcHHb4t
              device_details:
                meter_type: prepaid
                device_number: "0410000000"
                beneficiary_msisdn: "0810000000"
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Thu, 20 Apr 2023 11:20:13 GMT"
                  example: "Thu, 20 Apr 2023 11:20:13 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "355"
                  example: "355"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
              example:
                success: true
                data:
                  created_at: 2023-04-20T12:20:12.828177
                  status: successful
                  amount: 30000
                  reference: 45847bdd1e0c4b3a80d372db5bf03e85
                  customer_name: ""
                  operator_id: op_Aa6nzucgFck5nfqtcHHb4t
                  product_id: prd_3nkiv4ykfPL7XrTwstKfhc
                  bill_type: electricity
                  meta_data:
                    operator_name: IBEDC
                    token: ""
                message: make payment
      deprecated: false
      security:
      - bearer: []
  /cards/dispute/reasons:
    get:
      tags:
      - Disputes
      summary: GetCardDisputeReasons
      description: Get Card Dispute Reasons
      operationId: GetCardDisputeReasons
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Thu, 13 Apr 2023 09:00:30 GMT"
                  example: "Thu, 13 Apr 2023 09:00:30 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "244"
                  example: "244"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
              example:
                success: true
                data:
                - reason: not_received
                - reason: fraudulent
                - reason: duplicate
                - reason: product_not_as_described
                - reason: service_not_as_described
                - reason: canceled
                - reason: other
                message: dispute reasons
      deprecated: false
      security:
      - bearer: []
  /cards/dispute:
    get:
      tags:
      - Disputes
      summary: GetCardDisputes
      description: Get Card Disputes
      operationId: GetCardDisputes
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Thu, 13 Apr 2023 11:21:42 GMT"
                  example: "Thu, 13 Apr 2023 11:21:42 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "550"
                  example: "550"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
              example:
                success: true
                data:
                - id: 6437e14ef3d537986d07c6b4
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  card_id: 6422f79ab2f3ace934e10c3c
                  transaction_id: 6437d9b03260fa1c251dd21d
                  created_at: 2023-04-13T11:02:38.345Z
                  updated_at: 2023-04-13T11:02:38.345Z
                  transaction_amount: -20000
                  reason: fraudulent
                  explanation: "Some explanation about the fraudulent activity, that\
                    \ I can explain"
                  status: pending
                  metadata:
                    payment: fraudulent payment
                message: card disputes
      deprecated: false
      security:
      - bearer: []
    post:
      tags:
      - Disputes
      summary: CreateCardDispute
      description: Create Card Dispute
      operationId: CreateCardDispute
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cards_dispute_body'
            example:
              transaction_id: 6437d9b03260fa1c251dd21d
              reason: fraudulent
              explanation: "Some explanation about the fraudulent activity, that I\
                \ can explain"
              meta_data:
                payment: fraudulent payment
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Thu, 13 Apr 2023 11:03:07 GMT"
                  example: "Thu, 13 Apr 2023 11:03:07 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "561"
                  example: "561"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
              example:
                success: true
                data:
                  id: 6437e14ef3d537986d07c6b4
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  card_id: 6422f79ab2f3ace934e10c3c
                  transaction_id: 6437d9b03260fa1c251dd21d
                  created_at: 2023-04-13T12:02:38.34543+01:00
                  updated_at: 2023-04-13T12:02:38.345431+01:00
                  transaction_amount: -20000
                  reason: fraudulent
                  explanation: "Some explanation about the fraudulent activity, that\
                    \ I can explain"
                  status: pending
                  metadata:
                    payment: fraudulent payment
                message: unlink card
      deprecated: false
      security:
      - bearer: []
  /cards/dispute/{disputeID}:
    get:
      tags:
      - Disputes
      summary: GetCardDispute
      description: Get Card Dispute
      operationId: GetCardDispute
      parameters:
      - name: disputeID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Thu, 13 Apr 2023 11:22:50 GMT"
                  example: "Thu, 13 Apr 2023 11:22:50 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "547"
                  example: "547"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
              example:
                success: true
                data:
                  id: 6437e14ef3d537986d07c6b4
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  card_id: 6422f79ab2f3ace934e10c3c
                  transaction_id: 6437d9b03260fa1c251dd21d
                  created_at: 2023-04-13T11:02:38.345Z
                  updated_at: 2023-04-13T11:02:38.345Z
                  transaction_amount: -20000
                  reason: fraudulent
                  explanation: "Some explanation about the fraudulent activity, that\
                    \ I can explain"
                  status: pending
                  metadata:
                    payment: fraudulent payment
                message: card dispute
      deprecated: false
      security:
      - bearer: []
    put:
      tags:
      - Disputes
      summary: UpdateCardDispute
      description: Update Card Dispute
      operationId: UpdateCardDispute
      parameters:
      - name: disputeID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dispute_disputeID_body'
            example:
              reason: canceled
              explanation: Some explanation about the canceled transactionthat I can
                explain
              meta_data: {}
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Thu, 13 Apr 2023 11:22:50 GMT"
                  example: "Thu, 13 Apr 2023 11:22:50 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "547"
                  example: "547"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
              example:
                success: true
                data:
                  id: 6437e14ef3d537986d07c6b4
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  card_id: 6422f79ab2f3ace934e10c3c
                  transaction_id: 6437d9b03260fa1c251dd21d
                  created_at: 2023-04-13T11:02:38.345Z
                  updated_at: 2023-04-13T11:02:38.345Z
                  transaction_amount: -20000
                  reason: fraudulent
                  explanation: "Some explanation about the fraudulent activity, that\
                    \ I can explain"
                  status: pending
                  metadata:
                    payment: fraudulent payment
                message: card dispute
      deprecated: false
      security:
      - bearer: []
  /cards:
    get:
      tags:
      - Cards
      summary: GetCards
      description: Get Cards
      operationId: GetCards
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Mon, 27 Mar 2023 10:20:01 GMT"
                  example: "Mon, 27 Mar 2023 10:20:01 GMT"
            Transfer-Encoding:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: chunked
                  example: chunked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
              example:
                success: true
                data:
                - id: 640efc329ff45889139c8cb4
                  customer_id: 63f606c91f09f55a16140f04
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deemene
                  currency: NGN
                  balance: 450000
                  brand: Verve
                  status: active
                  billing_address:
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-13T10:34:26.577Z
                  updated_at: 2023-03-13T10:38:55.308Z
                - id: 641032ef37f5b9117d0ac266
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  balance: 0
                  brand: Verve
                  status: active
                  billing_address:
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-14T08:40:15.784Z
                  updated_at: 2023-03-14T08:40:15.784Z
                - id: 64103944d1d8583c5ebb64f8
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  balance: 4920000
                  brand: Verve
                  status: active
                  billing_address:
                    street: 44 Mobil Road Ilaje
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-14T09:07:16.032Z
                  updated_at: 2023-03-14T09:41:21.072Z
                - id: 6410547bdd2a2b291d290b3d
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  balance: 0
                  brand: Verve
                  status: active
                  billing_address:
                    street: 44 Mobil Road Ilaje
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-14T11:03:23.649Z
                  updated_at: 2023-03-14T11:03:23.649Z
                - id: 64105b2172780b005095858d
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  balance: 0
                  brand: Verve
                  status: active
                  billing_address:
                    street: 44 Mobil Road Ilaje
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-14T11:31:45.336Z
                  updated_at: 2023-03-14T11:31:45.336Z
                - id: 6412e25a2c222984e67c46b5
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  balance: 0
                  brand: Verve
                  status: active
                  billing_address:
                    street: "21c Akin Ogunlewe Rd, Off Ligali Ayorinde Str"
                    city: Victoria Island
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-16T09:33:14.092Z
                  updated_at: 2023-03-16T09:33:14.092Z
                - id: 641c2a855aa0ec103de93879
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  balance: 0
                  brand: Verve
                  status: active
                  billing_address:
                    street: "21c Akin Ogunlewe Rd, Off Ligali Ayorinde Str"
                    city: Victoria Island
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  expiry_month: "03"
                  expiry_year: "26"
                  created_at: 2023-03-23T10:31:33.194Z
                  updated_at: 2023-03-23T10:31:33.194Z
                - id: 641d6c412385902ee7748264
                  customer_id: 640f0f02505177495f253ea9
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Charles
                  currency: NGN
                  balance: 0
                  brand: Verve
                  status: active
                  billing_address:
                    street: "21c Akin Ogunlewe Rd, Off Ligali Ayorinde Str"
                    city: Victoria Island
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  number: 506321******3531
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-24T09:24:17.31Z
                  updated_at: 2023-03-24T09:24:17.31Z
                message: card requests found
      deprecated: false
      security:
      - bearer: []
    post:
      tags:
      - Cards
      summary: IssueVerveCard(NGN)
      description: Issue Verve Card (NGN)
      operationId: IssueVerveCard(NGN)
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cards_body'
            example:
              customer_id: 63f606c91f09f55a16140f04
              brand: Verve
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Mon, 13 Mar 2023 10:34:27 GMT"
                  example: "Mon, 13 Mar 2023 10:34:27 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "845"
                  example: "845"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
              example:
                success: true
                data:
                  id: 640efc329ff45889139c8cb4
                  account_id: 640efc329ff45889139c8cb3
                  customer_id: 63f606c91f09f55a16140f04
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deemene
                  currency: NGN
                  provider_card_id: 640efc24d9756b65752f5533
                  provider_card_holder_id: 640efc17d9756b65752f54f5
                  brand: Verve
                  status: active
                  created_at: 2023-03-13T11:34:26.577469+01:00
                  updated_at: 2023-03-13T11:34:26.577469+01:00
                  kyc_detail:
                    dob: 1992-03-30T00:00:00Z
                    identity_type: BVN
                    identity_number: "07082828244"
                    email: saint404@getnada.com
                    phone_number: "07082828244"
                  billing_address:
                    address: 44 Mobil Road Ilaje
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                  spending_channels:
                    mobile: true
                    web: true
                    pos: true
                    atm: true
                message: request card
      deprecated: false
      security:
      - bearer: []
  /cards/{cardID}:
    get:
      tags:
      - Cards
      summary: GetCardbyId
      description: Get Card by Id
      operationId: GetCardbyId
      parameters:
      - name: cardID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 28 Feb 2023 10:23:08 GMT"
                  example: "Tue, 28 Feb 2023 10:23:08 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "768"
                  example: "768"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
              example:
                success: true
                data:
                  id: 63fdd10f265e921d6ef79f66
                  account_id: 63f60c602e865607de5b6817
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deemene
                  currency: NGN
                  provider_card_id: 63fdd0839971f8a41ff3b08e
                  provider_card_holder_id: 63fdd04e9971f8a41ff3b055
                  brand: Verve
                  expiry_date: 0001-01-01T00:00:00Z
                  issuance_fees: 250000
                  created_at: 0001-01-01T00:00:00Z
                  updated_at: 0001-01-01T00:00:00Z
                  kyc_detail:
                    dob: 1992-03-30T00:00:00Z
                    identity_type: BVN
                    identity_number: "07082828244"
                    email: saint404@getnada.com
                    phone_number: "07082828244"
                  billing_address:
                    address: 44 Mobil Road Ilaje
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                  spending_channels: {}
                message: card
      deprecated: false
      security:
      - bearer: []
  /cards/customer/{customerID}:
    get:
      tags:
      - Cards
      summary: GetCustomerCards
      description: Get Customer Cards
      operationId: GetCustomerCards
      parameters:
      - name: customerID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Tue, 14 Mar 2023 09:27:19 GMT"
                  example: "Tue, 14 Mar 2023 09:27:19 GMT"
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "938"
                  example: "938"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
              example:
                success: true
                data:
                - id: 641032ef37f5b9117d0ac266
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  brand: Verve
                  status: active
                  billing_address:
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-14T08:40:15.784Z
                  updated_at: 2023-03-14T08:40:15.784Z
                - id: 64103944d1d8583c5ebb64f8
                  customer_id: 64102f442dd39da03ad71a80
                  organisation_id: 63c547e63f75813f516fe809
                  environment: test
                  type: virtual
                  name: Saint Deekor
                  currency: NGN
                  brand: Verve
                  status: active
                  billing_address:
                    street: 44 Mobil Road Ilaje
                    city: Ajah
                    state: Lagos
                    country: Nigeria
                    postal_code: "100001"
                  expiry_month: "06"
                  expiry_year: "25"
                  created_at: 2023-03-14T09:07:16.032Z
                  updated_at: 2023-03-14T09:07:16.032Z
                message: cards
      deprecated: false
      security:
      - bearer: []
  /cards/secure-data/{cardID}:
    get:
      tags:
      - Cards
      summary: GetCardSecureData
      description: Get Card Secure Data
      operationId: GetCardSecureData
      parameters:
      - name: cardID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: application/json
                  example: application/json
            Date:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "Mon, 27 Mar 2023 10:16:52 GMT"
                  example: "Mon, 27 Mar 2023 10:16:52 GMT"
            Vary:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: Origin
                  example: Origin
            X-Content-Type-Options:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: nosniff
                  example: nosniff
            X-Xss-Protection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: 1; mode=block
                  example: 1; mode=block
            Content-Length:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: "189"
                  example: "189"
            Connection:
              style: simple
              explode: false
              content:
                text/plain:
                  schema:
                    type: string
                    example: keep-alive
                  example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
              example:
                success: true
                data:
                  type: virtual
                  brand: Verve
                  number: "5063210000000013531"
                  expiryMonth: "06"
                  expiryYear: "25"
                  cvv: "612"
                  cvv2: "226"
                  defaultPin: "1699"
                message: card
      deprecated: false
      security:
      - bearer: []
  /cards/change-pin/{cardID}:
    put:
      tags:
      - Cards
      summary: ChangeCardPIN
      description: Change Card PIN
      operationId: ChangeCardPIN
      parameters:
      - name: cardID
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changepin_cardID_body'
            example:
              old_pin: "6260"
              new_pin: "2121"
        required: true
      responses:
        "200":
          description: OK
          headers:
            Content-Resource:
              style: simple
              explode: false
              content:
[...]
